<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>97241073885-b1ntk8u4nqh79t0kbn3ri8gsvs5f465e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.97241073885-b1ntk8u4nqh79t0kbn3ri8gsvs5f465e</string>
	<key>API_KEY</key>
	<string>AIzaSyBIJbPyHV15TePpK489ccuNShMchhe13dQ</string>
	<key>GCM_SENDER_ID</key>
	<string>97241073885</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jeredleisey.Converse</string>
	<key>PROJECT_ID</key>
	<string>converse-fa7aa</string>
	<key>STORAGE_BUCKET</key>
	<string>converse-fa7aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:97241073885:ios:e6e81fa0f74c9c425f7334</string>
	<key>DATABASE_URL</key>
	<string>https://converse-fa7aa.firebaseio.com</string>
</dict>
</plist>